*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
   

}
.party{
    background-color: orange;
    padding: 75px 130px;
    width: max-content;
    border-radius: 19px;
    position:absolute;
    top:55%;
    right:10%;
    

}

.background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('a.png');
      background-size: cover;
      background-position: center;
      filter: blur(10px);
      z-index: -1; /* позаду всього */
    }
/* .party{

   backdrop-filter: blur(10px);
} */
